page-content{
  margin-top: 50px ;
  margin-bottom: 50px ;
}

.block{
  background-color: #f6f5f5 ;
  margin: 0.625rem 3.125rem 0.625rem 3.125rem ;
  padding-left: 0.625rem ;
  padding-right: 0.625rem ;
}


.make-inline{
  display: inline-block;
}

.my-btn{
  float: right;
  height: 30px ;
  width: 65px ;
  background-color: #f5efef !important;
  margin: 0.375rem 0.625rem 0.375rem auto !important;
  padding: 0.125rem !important ;
  font-size: 0.75rem !important ;
}

.my-btn:hover{
  background-color: #dddddd  !important ;
}

.my-btn:focus, .my-btn.focus {
  outline: 0;
  box-shadow: 0px 0px 0px !important;
}

.search-btn{
  background-color: #145374 !important;
  border-color: #145374 !important;
}

.search-btn:focus{
  box-shadow: 0 0 0 !important ;
}

.search-btn:hover{
  background-color: #2a3d66 !important;
}


.opportunites-nav{
  padding-bottom: 1.25rem;
  text-align: center;
}

.margin-zero{
  margin-left: 1.875rem !important ;
  margin-right: 1.875rem !important ;
}

.opportunites-nav-link{
  margin-left: 1.875rem ;
  margin-right: 0.3125rem;
  padding: 0.3125rem;
  color: #1b262c ;
  background-color: #e1f4f3 ;
}

.opportunites-nav-link:hover{
  background-color: #dae1e7 ;
  text-decoration: none;
  color: black ;
}


#opportunites{
  margin: 1.25rem auto 1.25rem 5.625rem ;

  font-weight: 480 !important;
}

.nav-div{
  background-color: white ;
}


.li-link{
  color: #035aa6 ;
  padding: 0.3125rem ;
}

li{
  margin-bottom: 0.625rem ;
}

.li-link:hover{
  background-color: #dddddd ;
  text-decoration: none;
}


.make-none{
  display: none ;
}

.make-block{
  display: block;
  margin-left: 3.125rem ;
}

.item{
 padding: 1.25rem;
 margin: 1.875rem 4rem 1.875rem 4rem ;
 background-color: #f6f5f5 ;
}


.list-scholarships{
  overflow: auto;
  height: 9.375rem ;
  width: 50% ;
}

#width-change{
  width: 12.5rem !important ;
  display: inline !important ;
}

#width-change:focus{
  outline: 0;
  box-shadow: 0px 0px 3px #6e6d6d !important;
  border-color: white !important ;
}

.add-btn{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5625rem;
    border-width: 0;
    background-color: #145374 !important;
    border-color: #145374 !important;
}

.add-btn:hover{
  background-color: #2a3d66 !important ;
}

.search{
  background-color: #f6f5f5 ;
  display: inline-block;
  padding: 2.15rem ;
  margin-left:  2.25rem ;
  margin-right: 2.25rem ;
  margin-top: 0.6rem ;
  margin: 0.6rem 2.25rem 1.775rem 2.25rem ;
}


.right-side{
  margin: auto 0.625rem auto 0.625rem ;
}

.search-item{
  margin: 0.3125rem;
}

