.page-content{
  margin: 50px 70px 50px 70px ;
}

.margin-zero{
  margin-left: 0px !important ;
  margin-right: 0px !important ;

}

#margin-body{
  margin: 50px 80px 70px 80px  ;
}

#heading{
  margin-left: 20px ;
  margin-bottom: 25px ;
}

.make-center{
  text-align: center;
}

.my-table{
  padding: 5px;
  /* box-shadow: 0px 0px 2px #d6e0f0 ; */
}

.my-search{
    margin-bottom: 30px ;
    /* background-color: #f1f3f8 ;  */
    background-color: #f6f6f6 ;
    padding: 30px ;
    display: inline-block;
    box-shadow: 0px 0px 3px #d6e0f0 ;
}

.my-input{
  width: 200px !important;
  border-color: #d6e0f0 !important ;
}

.my-input:focus, .my-input.focus {
  outline: 0;
  box-shadow: 0px 0px 3px #6e6d6d !important;
}

.search-item{
  margin: 10px;
}

.my-btn{
  height: 30px ;
  padding: 0px 5px 5px 5px !important ;
  background-color: #f6f5f5 !important;
}

.my-btn:hover{
  background-color: #dddddd !important;
  /* background-color: #888888 !important; */
  color: #222831 !important;
}

.my-btn:focus, .my-btn.focus {
  outline: 0;
  box-shadow: 0px 0px 0px !important;
}

.search-btn{
  height: 30px ;
  width: 75px ;
  padding: 0px 5px 5px 5px !important ;
  font-size: 1rem !important ;
  background-color: #145374  !important ;
  border-color: #145374  !important;
}

.search-btn:hover{
  background-color: #393b44 !important ;
}

.search-btn:focus, .search-btn.focus {
  outline: 0;
  box-shadow: 0px 0px 0px !important;
}

.table-outflow{
  overflow-y: auto;
}

.my-pagination{
  margin-top: 18px ;
}

.my-page-link{
  line-height: 0.8 !important;
  color: #8d93ab !important;
}

.my-page-link:focus {
  box-shadow: 0 0 0 !important;
}

.my-page-link:hover{
  color: #52575d !important;
  background-color: #e9ecef !important;
  border-color: #e9ecef !important;
}
